###################################################Consumer##################################
# Kafka broker server
bootstrap.servers=broker_1:9092

# Confluent Schema Registry
schema.registry.url=http://schema-registry:8081

#Google Key Schema file
google.key.schema.file=/avro/google-scraper-key.avsc

#Google Value Schema file
google.value.schema.file=/avro/google-scraper-value.avsc

#string used to identify this client
client.id=consumer_google_chicago_1

#Only read messages that are wrapped in transactions after the transaction is committed
isolation.level=read_committed

#topic specific configs
#auto.offset.reset->Where does the consumer start reading when it doesn't have a committed offset
'default.topic.config'={'auto.offset.reset': 'smallest'}