###############################################################Producer################################################################
# Kafka broker server
bootstrap.servers=broker_1:9092

# Confluent Schema Registry
schema.registry.url=http://schema-registry:8081

#Google Key Schema file
google.key.schema.file=/avro/google-scraper-key.avsc

#Google Value Schema file
google.value.schema.file=/avro/google-scraper-value.avsc

#compression type
compression.type=gzip

#how long to wait for a producer batch to fill up before it is sent partially full
linger.ms=100

#Have kafka guarantee that messages will be de-duped if delivered twice
enable.idempotence=True

#the max number of messages that can be sent async without hearing back
#max can be 5 when idempotence is enabled
max.in.flight.requests.per.connection=5

#queuing stragey
#must be set to fifo (first in first out) when idempotence is enabled.  This preserves order
queuing.strategy=fifo

#number of times a message will be resent on a retriable error
#must be greater than 0 if idempotence is enabled
retires=10

#this enables the transactional producer
transactional.id=producer_google_chicago_1

#topic specific configs
#acks must = all when idempotence is enabled
'default.topic.config'={'acks': 'all'}