{% extends 'bootstrap/base.html' %}


{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
            var dorts = {{ dorts | tojson}};
            var ngrams = {{ngrams | tojson}}; //<--This is how you'd pass in values from flask to ur script file. Note they're not bound together, so when I push to ngrams array, nothing happens. It would take some rearranging in flask to not jquery-y do what you're intending
    </script>
    <script>
        // plain flask really doesn't intend for you to be running scripts continuously on the server side
        $('#dortTable').append('<tr><td>test on load script</td></tr>')
        var typingTimer;                //timer identifier
        var doneTypingInterval = 2000;  //time in ms (2 seconds)

        //on keyup, start the countdown
        $('#bigInput').keyup(function(){
            clearTimeout(typingTimer);
            if ($('#bigInput').length > 0) {
                typingTimer = setTimeout(predict, doneTypingInterval, $("#text").val(), "pred{{ pred_id }}", 0, 2);
            }
        });

        //user is "finished typing," do something
        function predict(key, dest, begin, end) {
            $('#dortTable').append('<tr><td>' + key + '</td></tr>');
            var fake = {
                            "ngram": "Don't hard code in routes.py, its a lie then",
                            "value": 10           
                        };
            ngrams.push(fake);
            console.log(ngrams);

            /*
            $.post('/predict', {
                key: key,
                begin: begin,
                end: end
            }).done(function(response) {
                console.log(response);
                $(dest).text(response['prediction'])
                alert(response['prediction'])
            }).fail(function(response) {
                console.log(response)
                $(dest).text("{{ ('Error: Could not contact server.') }}");
            });
            */
        }
    </script>
{% endblock %}

{% block title %}
    {% if title %}
        {{ title }} - Next Word Engine {% else %} Welcome to My Next Word Engine
    {% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon bar"></span>
                    <span class="icon bar"></span>
                    <span class="icon bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">Next Word Engine</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Log In</a></li>
                    {% else %}
                    <li><a href="{{ url_for('user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}


